version: '3.8'

# Local development overrides
services:
    genquizz:
        environment:
            NODE_ENV: development
            CHOKIDAR_USEPOLLING: true
        volumes:
            - .:/app
            - /app/node_modules
            - /app/.next
        ports:
            - "3000:3000"
        command: npm run dev
